<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emperor_tracare.emperortracker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".model.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_navigation_drawer_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/empty_space"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PersonTrackedContainerActivity"
            android:label="@string/title_activity_person_tracked_container"
            android:parentActivityName=".NavigationDrawerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AlarmsActivity"
            android:label="@string/title_activity_person_tracked_container"
            android:parentActivityName=".PersonTrackedContainerActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5y-7SPiGUMUtnzrftsCCEGMnSbveBcy4" />

        <activity
            android:name=".SleepRecordsActivity"
            android:parentActivityName=".PersonTrackedContainerActivity" />
        <activity android:name=".HeartRateRecordsActivity" />
        <activity android:name=".StepRecordsActivity" />
        <activity android:name=".WeightRecordsActivity"></activity>
    </application>

</manifest>